langchain
python-dotenv
langchain-community
ipykernel
pypdf
bs4
PyMuPDF
wikipedia
langchain-text-splitters
tiktoken
langchain-text-splitters
langchain-openai
langchain-ollama
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
pandas
langchain-groq
beautifulsoup4
langchain-core
streamlit
langserve
unicorn
fastapi
arxiv 
wikipedia
langchainhub
validators
youtube_transcript_api
gradio